<header class="bg-dark">
	<div class="navigation-bar dark">
		<div class="navigation-bar-content container">
			<a href="/" class="element"><span class="icon-grid-view"></span> {{site.username}}</a>
			<span class="element-divider"></span>

			<a class="element1 pull-menu" href="#"></a>
			<ul class="element-menu">
				{% include menudropdown.html name="Compétences" category="skill" %}
				{% include menudropdown.html name="Parcours" category="path" %}
				{% include menudropdown.html name="Réalisations" category="project" %}
				{% include menudropdown.html name="Parcours personnel" category="personnal" %}
			</ul>

			<div class="no-tablet-portrait no-phone">
				<a title="GitHub" href="https://github.com/LudovicT" class="element place-right"><span class="icon-github"></span></a>
			</div>
		</div>
	</div>
</header>
