<li>
	<a class="dropdown-toggle" href="#">{{ include.name }}</a>
	<ul class="dropdown-menu dark" data-role="dropdown">
	{% assign menuitems = '' %}
	{% for page in site.pages %}
		{% if page.show_in_menu == true and page.categories contains include.category %}
			{% if page.submenu == true %}
				{% capture items %}{{ menuitems | split: '|' }}{% endcapture %}
				{% if items contains page.menuitem %}
					
				{% else %}
					{% include menudropdown2.html name=page.menuitem category=include.category %}
					{% capture menuitems %}{{ menuitems | join: '|' }}|{{ page.menuitem }}{% endcapture %}
				{% endif %}
			{% else %}
				{% if page.title %}
					<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
	</ul>
</li>